/* importando la fuente de la pagina */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* creando variables */
:root{
    --color_pimary: #c0dbed;
    --color_pimary_2: #c0dbed6b;
    --color_primary_3: #e3f3fc;
    --color_black: #1d1d1d;
    --color_black-2: #111;
    --color_black-hover: #333;
    --color_white: #f9f9f9;
    --col_white_2: #fff;
    --color_gray: #808080;
    --color_gray-2: #ece8e8;
    --color_gray-3: #f7f2f2;
    --color_gray-hover: #5f5f5f;
    --color_gray-hover-2: #a19d9d;
    --col-rgba: rgb(0, 0, 0, 0.1);
    --col-rgba-2: rgb(0, 0, 0, 0.3);
    --col-rgba-3: rgb(0, 0, 0, 0.5);
    --col-rgba-4: rgb(0, 0, 0, 0.6);
}

/* estilizando los estilos generales de la pagina */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* seteando la fuente de familia */
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--col-rgba-3);
    background-image: url(imagenes/img_nav.jpg);
    background-position: center;
    background-size: contain;
    background-blend-mode: darken;
}

html{
    scroll-behavior: smooth;
}

/* seteando la fuente de familia */
h2,h1{
    font-weight: 500;
    color: var(--color_gray-2);
}
 
a{
 text-decoration: none;
    color: var(--color_gray);
}
 
 a:hover{
    color: var(--color_gray-hover);
}
 
 p{
    color: var(--color_gray-2);
}
 
 button{
    border: none;
    background-color: inherit;
    color: var(--color_gray-2);
 }
 
input{
    border: none;
    background-color: inherit;
    outline: none;
}
 
 i{
    color: var(--color_gray-2);
}
 
 i:hover{
    color: var(--color_gray-hover-2);
}

::-webkit-scrollbar{
    background-color: var(--color_black-2);
}

::-webkit-scrollbar-thumb{
    background-color: var(--color_gray-hover-2);
    border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--color_gray-hover);
}

.color_black{
    font-weight: 500;
}

/* hero */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
    background-color: var(--color_black);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
}

/* logo_container */

.logo_link{
    display: flex;
    align-items: center;
}

.logo_link:hover .logo_img {
    transform: scale(1.1);
}

.logo_link:hover .logo_text {
    color: var(--color_gray-hover);
}

.logo_img{
    width: 4em;
    margin-right: .5em;
}

.logo_text{
    font-size: 1.8em;
}

/* seach_container */

.seach_container{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.search_bar{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
    border-bottom: 1px solid var(--color_gray-2);
}

.search_bar.hover{
    border-bottom: 1px solid var(--color_gray-hover-2);
    background-color: var(--color_black-2);
}

.search_bar:hover{
    border-bottom: 1px solid var(--color_gray-hover-2);
    background-color: var(--color_black-2);
}

.input_search{
    color: var(--color_gray-2);
    padding: 0 .1em 0 .5em;
}

.btn_search{
    margin-bottom: .2em;
}

.btn_search:hover{
   cursor: pointer;
}

.search{
    font-size: 1.5em;
}   

.icons_navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list{
    font-size: 1.8em;
}

.cart{
    font-size: 1.5em;
}

.list, .cart:hover{
   cursor: pointer;
}

.nav{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 15%;
    padding: 2em;
    background-color: var(--col-rgba-3);
    background-image: url(imagenes/img_nav.jpg);
    background-position: bottom right;
    background-size: cover;
    background-blend-mode: multiply;
    visibility: hidden;
    opacity: 0;
    transform: translatex(100%);
    transition: transform, 300ms ease;
    box-shadow: 0 0 0 500vmax var(--col-rgba-3);
}

.nav.active{
    transform: translatey(0);
    visibility: visible;
    opacity: 1;
}

.btn_close{
    margin-bottom: 1em;
}

.close{
    font-size: 1.3em;
    cursor: pointer
}

.btn_navbar{
   background-color: inherit;
   font-size: 1.2em;
   margin: .5em 0;
   cursor: pointer;
}

.btn_navbar:hover{
   color: var(--color_gray);
}

/* cart_navbar */
.cart_navbar{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: fixed;
    overflow:auto;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 25%;
    padding: 4em .8em;
    background-color: var(--col-rgba-3);
    background-image: url(imagenes/img_nav.jpg);
    background-position: bottom right;
    background-size: cover;
    background-blend-mode: multiply;
    visibility: hidden;
    opacity: 0;
    transform: translatex(100%);
    transition: transform, 300ms ease;
    box-shadow: 0 0 0 500vmax var(--col-rgba-3);
}

.cart_navbar.active{
    transform: translatey(0);
    visibility: visible;
    opacity: 1;
}

/* cart_top */

.cart_top{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.count_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.count_title{
    font-size: 1em;
}

.close_cart{
    font-size: 1.2em;
}

.close_cart:hover{
   cursor: pointer;
}

.cart_empty{
    text-align: center;
    margin-top: 1.5em;
}

.empty_paragraph{
    font-weight: 500;
}


/* cart_center */

.cart_center{
    width: 100%;
    transition: 3s;
}

.cart_title{
    border-bottom: 1px solid var(--col-rgba-2);
    text-align: end;
    font-size: 1.5em;
}

/* cart_product */

.cart_product{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: .5em 0;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: .5em;
    background-color: var(--col-rgba-3);
}

.img_product_cart{
    width: 15em;
}

.info_product_cart{
    width: 100%;
}

.product_title_cart{
    font-size: 1.2em;
    color: var(--color_gray);
}

.count_paragraph{
    color: var(--color_gray);
    margin: .2em 0;
}

.cart_product_interactive{
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5em 0;
    background-color: var(--color_gray-2);
}

.delete{
    cursor: pointer;
    color: var(--color_gray-hover);
    margin: 0 .5em;
}

.product_price{
    color: var(--color_gray-hover);
}

/* cart_bottom */

.cart_bottom{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.discounts_container{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--col-rgba);
    padding: 1em 0;
}

.discount_paragraph{
    margin-left: .3em;
    color: var(--color_gray);
}

.buy_cart{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid var(--col-rgba);
    padding: 1em 0;
}

.cart_actions_total{
    display: flex;
    justify-content: space-between;
}

.cart_actions_buy{
    margin-top: .5em;
}

.cart_buy_link{
    font-size: 1.5em;
}

/* content_container */

.content_container{
    padding: 8em 2em;
}
 
.title_content{
    font-size: 1.8em;
    border-top: 1px solid var(--color_gray-hover);
    border-bottom: 1px solid var(--color_gray-hover);
    padding: .4em 0;
}

.products_container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
    margin-top: 1.5em;
}
 
.product_js{
    display: flex;
    flex-direction: column;
}

.img_product{
    width: 100%;
    background-color: var(--color_gray-hover);
}
 
.info_product{
    width: 100%;
    background-color: var(--col-rgba-2);
    padding: 1em .5em;
}

.product_title{
    font-size: 1.3em;
    color: var(--color_gray);
}

.product_price{
    margin: .2em 0;
    color: var(--color_gray);
}
 
.product_add{
    font-size: 1em;
    color: var(--color_gray-2);
}
 
.product_add:hover{
    cursor: pointer;
    text-decoration: underline;
}

.withoutResults{
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.resultEmpy{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    text-align: center;
}

.cartEmpty{
    font-size: 2em;
    margin-bottom: .5em;
}

.resultText{
    margin-top: 1em;
}

.display_block{
    display: block;
}

.display_none{
    display: none;
}

@media screen and (max-width:1700px) {
    .cart_navbar{
        width: 35%;
    }
  
}

@media screen and (max-width:1500px) {
    .cart_navbar{
        width: 40%;
    }
  
}

@media screen and (max-width:1000px) {
    .products_container{
        grid-template-columns: repeat(3, 1fr);
    }

    .cart_navbar{
        width: 50%;
    }
  
}

@media screen and (max-width:768px) {
    .hero{
        flex-direction: column;
        padding: .9em 1em;
    }

    .logo_text{
        display: none;
    }

    .seach_container{
        flex-direction: column-reverse;
        justify-content: space-between;
        width: 100%;
        margin: 1em 0 0 0;
    }
    
    .search_bar{
        width: 100%;
        margin: .9em 0 0 0;
    }

    .icons_navbar{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .content_container{
        padding: 13em 1em;
    }

    .nav{
        width: 100%;
        transform: translatex(-100%);
        align-items: center;
    }

    .cart_navbar{
        width: 100%;
    }
    
}

@media screen and (max-width:750px) {
    .products_container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:450px) {
    .products_container{
        grid-template-columns: repeat(1, 1fr);
    }
}


